@model CollegeWepPortal.Models.STUDENT
@{
    ViewBag.Title = "HomePageAdmin";
    Layout = "~/Views/Shared/_MyAdminLayout.cshtml";
}




<h2> Welcome to Deloitte University</h2>

<p>
    Hello!!
    I am <i> Susmitha</i> Principle of this College.
</p>
